body {
    font-family: 'Mitr', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.header, .footer {
    text-align: center;
}

.header h1 {
    margin-bottom: 5px;
}

.header p {
    margin: 5px 0;
}

.order-details {
    margin-top: 20px;
}

.order-details h2 {
    text-align: center;
    margin-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    grid-gap: 5px;
}

.menu-item {
    display: grid;
    grid-template-columns: 500px 2fr 100px;
    align-items: center;
}

.item-quantity, .item-price {
    text-align: center;
}

.item-quantity {
    text-align: right;
}

.total {
    text-align: right;
    margin-top: 20px;
}

.total p {
    margin: 5px 0;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
