body {
    font-family: 'Mitr', sans-serif;
}

.container {
    width: 80mm;
    padding: 10mm;
    border: 1px solid black;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.header, .footer {
    text-align: center;
}

.header h1 {
    margin-bottom: 5 px;
    font-size: 18px;
}

.header p {
    margin: 5px 0;
    font-size: 14px;
}

.order-details {
    margin-top: 20px;
}

.order-details h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.menu {
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    grid-gap: 5px;
}

.menu-item {
    display: grid;
    grid-template-columns: 230px 1fr 50px;
    align-items: center;
    text-align: left;
}

.menu-item span {
    font-size: 12px; /* ปรับขนาดตัวอักษร */
}

.item-quantity, .item-price {
    text-align: center;
}

.item-quantity {
    text-align: right;
}

.total {
    text-align: right;
    margin-top: 10px;
    margin-right: 0px; 
}

.total p {
    margin: 5px 0;
    font-size: 11px;

}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
